ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #9e4646;
  }
  
  nav {
    width: 100vw;
  }

  #bunnyheader {
    float: left;
    width: 50px;
  }

  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
    font-size: large;
  }
  
  li a:hover:not(.active) {
    background-color: rgba(252, 190, 190, 0.466);
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }

button {
    background-color: rgb(153, 53, 53);
    color: white;
    width: 200px;
    padding: 15px 30px;
    border-radius: 12px;
    border-style: none;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 12px;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 12px;
}

h1 {
  font-family: monospace;
  color: rgb(153, 53, 53);
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(153, 53, 53);
  font-size: medium;
}

h4 {
  font-family: monospace;
  color: rgb(153, 53, 53);
  font-size: large;
}

.p1 {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  background-color: rgb(252, 201, 201);
  text-align: center;
  position: relative;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: monospace;
  color: rgb(59, 59, 58);
}

.card {
  flex: 0 1 calc(25% - 1em);
  margin: 50px;
}

 #Nappy1 {
   float: left;
   margin: 0 0 0 70px;
   box-shadow: 20px 30px rgb(128, 15, 15);
 }

 .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 120px;
  margin-top: 200px;
  
 }

 .project1  {
   display: flex;
   flex-direction: row;
   justify-content: left;
   padding: 60px;
 }

 .project1image {
   padding: 20px;
 }

 .project1text {
   text-align: left;
   width: 60vw;
   padding: 20px;
 }

 .project2  {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 60px;
}

.project2image {
  padding: 20px;
}

.project2text {
  text-align: left;
  width: 60vw;
  padding: 20px;
  padding-right: 20px;
}

.project3  {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 60px;
}

.project3image {
  padding: 20px;
}

.project3text {
  text-align: left;
  width: 60vw;
  padding: 20px;
}

 footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  text-align: center;
  padding: 3px;
  background-color: #9e4646;
  color: white;
  font-family: monospace;
}

@media screen and (min-width: 500px) {
  .box, .boximage, .boxtext {
      max-width: (500px);
  }
}

@media screen and (min-width: 100px) {
  .project1, .project2, .project3 {
      max-width: (623px);
  }
}

@media screen and (min-width: 100px) {
  .project1image, .project2image, .project3image {
      max-width: (623px);
  }
}

@media screen and (min-width: 100px) {
  .project1text, .project2text, .project3text {
      max-width: (623px);
  }
}

@media screen and (min-width: 349px) {
  .card {
      max-width: (1055px);
  }
}